---
import Image from "astro/components/Image.astro";

const { data } = Astro.props;

const { name, title, tel, email, image } = data;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/*.{jpeg,jpg,png,gif,webp}");
if (!images[image]) throw new Error(`"${image}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif,webp}"`);
---

<li class="@container">
  <article class="grid gap-4 @3xs:grid-cols-[1fr_2fr]">
    <Image src={image} alt={`Billede af ${name} `} width={672} height={690} />
    <footer class="self-start grid gap-3">
      <div>
        <h3 class="text-text-primary">{name}</h3>
        <p class="text-text-secondary text-body-tiny">{title}</p>
      </div>
      <ul>
        <li class="text-body-small font-medium text-text-primary">{tel}</li>
        <li class="text-body-small font-medium text-text-primary">{email}</li>
      </ul>
    </footer>
  </article>
</li>
